<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" th:href="@{/css/flashcards.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="text-center">
    <h1 id="deck-name" class="text-3xl font-bold mb-6"></h1>
    <div id="flash-card" class="rounded-lg shadow-lg w-80 h-48 mx-auto mb-4 flex items-center justify-center cursor-pointer overflow-hidden relative">
        <p id="card-text" class="text-xl p-4"></p>
        <div id="answer" class="absolute bottom-0 left-0 right-0 bg-blue-500 text-white p-4 transform translate-y-full transition-transform duration-300 ease-in-out"></div>
    </div>
    <div class="space-x-4">
        <button id="prev-button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Prev</button>
        <button id="next-button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Next</button>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var deck = /*[[${deck}]]*/ 'default';
    /*]]>*/
</script>
<script th:src="@{/js/flashcards.js}"></script>
</body>
</html>